<h1 class="page-header">{{title}}</h1>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="alert" ng-class="{'alert-success': msg.type == 'success', 'alert-danger': msg.type == 'error'}" ng-show="msg">
            {{msg.text}}
        </div>
    </div>
</div>

<form name="user-form" ng-submit="submit()" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-3 col-lg-1 col-md-2">User Name</label>
        <div class="col-lg-3 col-sm-9">
            <input type="text" class="form-control" ng-model="user.name" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3 col-lg-1 col-md-2">Password</label>
        <div class="col-lg-3 col-sm-9">
            <!-- the instructions "Password text box" seemed ambiguious, so I went with what would normally be used in this situation -->
            <input type="password" class="form-control" ng-model="user.password" required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 col-lg-offset-1">
            <button type="submit" class="btn btn-primary">{{action}}</button>
            <button type="button" class="btn btn-default" ng-show="cancel" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>
