<h1 class="page-header">Users</h1>

<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-3">
        <p>
            <button type="button" class="btn btn-block btn-primary" ng-click="newUser()">New User</button>
            <button type="button" class="btn btn-block btn-default" ng-click="isMasked = !isMasked">Toggle Masks</button>
        </p>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-9">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover table-bordered table-users">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Password</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.name}}</td>
                        <td>{{user.password | masked:isMasked }}</td>
                        <td>
                            <button type="button" class="btn btn-xs btn-warning" ng-click="remove(user)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>