.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 1px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #1E364A;
        border-right: 1px solid #eee;
    }
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #fff;
}

.nav-sidebar > li > a:focus,
.nav-sidebar > li > a:hover {
    color: #fff;
    background-color: #485E70 !important;
}

.nav.nav-sidebar > .active > a,
.nav.nav-sidebar > .active > a:hover,
.nav.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #8B97A2 !important;
}

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}
