<!doctype html>
<html ng-app="app">
    <head>
        <title>{{app.name}}</title>

        <link rel="stylesheet" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/css/site.css" />
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-3 sidebar" ng-controller="NavCtrl">
                    <ul class="nav nav-sidebar">
                        <li ng-class="{active: isActive('/validate')}"><a role="button" ng-click="go('/validate')">Validate</a></li>
                        <li ng-class="{active: isActive('/users')}"><a role="button" ng-click="go('/users')">Users</a></li>
                    </ul>
                </div>

                <div class="col-md-10 col-sm-9 col-sm-offset-3 col-md-offset-2 main" ng-view></div>
            </div>
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-route.min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>